---
title: О шпалере
description: Description index
---
{% set pageInner = true %}
{% extends "layouts/_layout.html" %}


{% block content %}


<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a>О шпалере</a></li>
  </ul>
</div>

<div data-scroll-container class="container">
  <section class="section  section--hero">
    <div class="section__text" data-scroll data-scroll-speed="3">
      <blockquote>
        Хоть и вторгается ужасное присутствие смерти, однако крепка Надежда на милость Божию
        <cite>
          — Автор неизвестен
        </cite>
      </blockquote>
      <div>
        <p>Сверху я бы вставил цитату, как мы делали на миниатюрах в Надежде</p>
        <p>Справа я предлагаю добавить фрагмент шпалеры.</p>
        <p>Ниже можно добавить навигацию</p>
        <ol class="section__nav">
          <li class="section__nav-item" data-scroll="">
            <a href="#section-research" data-scroll-to="">
              Исследование нитей шпалеры
              <svg class="section__nav-item-icon" aria-hidden="true" width="20" height="20">
                <use href="images/sprite_auto.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="section__nav-item" data-scroll="">
            <a href="#section-conservation" data-scroll-to="">
              Реставрация
              <svg class="section__nav-item-icon" aria-hidden="true" width="20" height="20">
                <use href="images/sprite_auto.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="section__nav-item" data-scroll="">
            <a href="#section-stories" data-scroll-to="">
              Истории
              <svg class="section__nav-item-icon" aria-hidden="true" width="20" height="20">
                <use href="images/sprite_auto.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
        </ol>
      </div>
    </div>
    <div class="section__image-wrapper">
      <img src="images/intro-thumb.jpg" alt="">
    </div>
  </section>

  <section class="section  section--full-text" data-scroll data-scroll-speed="2">
    <h2 class="section__main-title">
      <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2">
        ШПАЛЕРА
      </div>
      <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="2">
        «ТРИУМФ НАДЕЖДЫ»
      </div>
    </h2>

    <h3 class="section__subtitle">Автор или какая-то другая информация</h3>

    <div class="section__text">
      <p>Основная тема композиции шпалеры «Триумф Надежды» — сила искреннего религиозного чувства. Аллегорический смысл
        выражен в надписи, расположенной в верхней части бордюра, — прием, характерный для произведений эпохи готики.
        Двустишие на латинском языке гласит:</p>

      <p>Irruat horribilis quamquam presentia mortis Тuta tamen Spes est in bonitate Dei.</p>
      <p>(«Хоть и вторгается ужасное присутствие смерти, однако крепка Надежда на милость Божию»)</p>

      <p>Явление смерти представлено бурной сценой кораблекрушения в верхней части шпалеры — аллюзия на историю Ионы.
        Частично заслоняя гибнущий корабль, слева движется ладья с фигурой Надежды. Ладья — один из атрибутов Надежды,
        так же как коса и серп в ее руках (символы надежды на урожай, который будет собран как на земле, так и на небе).
        Клетка с птицей, висящая на мачте, — обозначение томящейся в земном плену человеческой души. На носу ладьи
        пылает огонь, из которого возрождается птица феникс, — символ возрождения, а следовательно, и надежды на
        спасение. Ладью тянут двое мужчин в коротких одеждах, железных ошейниках, цепях и оковах, с мольбой простирающих
        руки к Богу Отцу. Возникающая из облаков в верхнем правом углу шпалеры его фигура — смысловой центр, к которому
        направлено движение всей композиции. К нему обращены с мольбой и ожиданием персонажи Ветхого Завета,
        представленные на первом плане и по краям шпалеры и символизирующие «надежду на милость Божию».</p>
    </div>
  </section>

  <section class="section  section--zoom-in-image">
    <div class="section__image-mask" style="background-image: url(images/main-slider-2/full-1.png);">
    </div>
  </section>

  <section class="section  section--text-right" id="section-research">
    <div class="image-wrapper">
      <img src="images/research-thumb.jpg" alt="">
    </div>
    <div class="section__text  section__text--no-padding">
      <div data-scroll-speed="2" data-scroll>
        <h2>Исследование нитей</h2>
        <p>В ходе предварительных исследований было выявлено, что более 85% поверхности мозаичного набора находится в
          стадии отслоения. Из-за деструкции мастики под ним образовались многочисленные пустоты. Для укрепления набора
          было решено проклеить выявленные пустоты. После составления картограммы состояния сохранности был изготовлен
          «кондуктор» — лист прозрачного оргстекла толщиной 5 мм в размер столешницы. В местах отслоения мозаичного
          набора, в зонах черного мрамора через «кондуктор» было проведено сверление отверстий диаметром 1 мм.</p>
      </div>
    </div>
  </section>

  <section class="section  section--text-left" id="section-conservation">
    <div class="section__text">
      <div data-scroll-speed="2" data-scroll>
        <h2>Реставрация</h2>
        <p>В ходе предварительных исследований было выявлено, что более 85% поверхности мозаичного набора находится в
          стадии отслоения. Из-за деструкции мастики под ним образовались многочисленные пустоты. Для укрепления набора
          было решено проклеить выявленные пустоты. После составления картограммы состояния сохранности был изготовлен
          «кондуктор» — лист прозрачного оргстекла толщиной 5 мм в размер столешницы. В местах отслоения мозаичного
          набора, в зонах черного мрамора через «кондуктор» было проведено сверление отверстий диаметром 1 мм.</p>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="images/conservation-thumb.jpg" alt="">
    </div>
  </section>

  <section class="section  section--deepzoom" id="section-stories">
    <div id="pinSection" class="pinned-quote">
      <blockquote data-scroll data-scroll-sticky data-scroll-target="#pinSection">
        Краткое описание раздела. Показываем плитку из изображений, при клике на которое пользователь переходит на
        дипзум.
      </blockquote>
    </div>

    <div class="images-container">
      <img src="images/type-thumb-1.jpg" alt="">
      <img src="images/type-thumb-2.jpg" alt="">
      <img src="images/type-thumb-1.jpg" alt="">
      <img src="images/type-thumb-2.jpg" alt="">
      <img src="images/type-thumb-1.jpg" alt="">
      <img src="images/type-thumb-2.jpg" alt="">
      <img src="images/type-thumb-1.jpg" alt="">
      <img src="images/type-thumb-2.jpg" alt="">
    </div>
  </section>
</div>

{% endblock %}
