---
title: Тканое великолепие - Спецпроект отдела реставрации
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="page__content">
  <section class="promo-slider">
    <div class="promo-slider__wrapper">
      <div class="promo-slider__text">
        <p>Вступительный текст о проекте, после которого идет слайдер</p>
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего,
          на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и эпоху
          Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры. Всеобщий
          праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего,
          на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и эпоху
          Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры. Всеобщий
          праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего,
          на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и эпоху
          Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры. Всеобщий
          праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
      </div>
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-1.png" loading="lazy" alt="">
            </a>
            <p>Триумф Славы</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="#">
              <img src="images/main-slider-1/thumb-2.png" loading="lazy" alt="">
            </a>
            <p>Триумф Надежды</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-3.png" loading="lazy" alt="">
            </a>
            <p>Иоанн Креститель</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-4.png" loading="lazy" alt="">
            </a>
            <p>Встреча Исава и Иакова</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-5.png" loading="lazy" alt="">
            </a>
            <p>Триумф Помпея</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-6.png" loading="lazy" alt="">
            </a>
            <p>Дети Венеры</p>
          </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>

      <div class="promo-slider__text">
        <p>Текст после слайдера</p>
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего,
          на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и эпоху
          Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры. Всеобщий
          праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего,
          на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и эпоху
          Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры. Всеобщий
          праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего,
          на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и эпоху
          Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры. Всеобщий
          праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
      </div>
    </div>
  </section>
</main>

{% endblock %}
