---
title: Index page
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="page__content">
  <section class="promo-slider">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide  swiper-slide--custom">
          <img src="images/main-slider-2/full-1.png" loading="lazy" alt="">
          <p>ВСТРЕЧА ИСАВА И ИАКОВА</p>
        </div>
        <div class="swiper-slide  swiper-slide--custom">
          <img src="images/main-slider-2/full-2.png" loading="lazy" alt="">
          <p>ВСТРЕЧА ИСАВА И ИАКОВА</p>
        </div>
        <div class="swiper-slide  swiper-slide--custom">
          <img src="images/main-slider-2/full-4.png" loading="lazy" alt="">
          <p>ВСТРЕЧА ИСАВА И ИАКОВА</p>
        </div>
        <div class="swiper-slide  swiper-slide--custom">
          <img src="images/main-slider-2/full-1.png" loading="lazy" alt="">
          <p>ВСТРЕЧА ИСАВА И ИАКОВА</p>
        </div>
        <div class="swiper-slide  swiper-slide--custom">
          <img src="images/main-slider-2/full-2.png" loading="lazy" alt="">
          <p>ВСТРЕЧА ИСАВА И ИАКОВА</p>
        </div>
        <div class="swiper-slide  swiper-slide--custom">
          <img src="images/main-slider-2/full-4.png" loading="lazy" alt="">
          <p>ВСТРЕЧА ИСАВА И ИАКОВА</p>
        </div>

      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </section>
</main>

{% endblock %}
