---
title: Тканое великолепие - Спецпроект отдела реставрации
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}
<main class="page__content">
  <section class="promo-slider">
    <div class="promo-slider__wrapper">
      <div class="promo-slider__text">
        <p>Шпалера - безворсовый настенные ковер с орнаментальным, сюжетным или фигуративным изображением, которое
          создавалось путем переплетения нитей основы и утка. Техника шпалерного ткачества, известная на протяжении
          нескольких тысячелетий позволяла создавать тканные изображения, которые являлись неотъемлемой частью их
          материальной структуры. По мере совершенствования искусства шпалерного ткачества, утилитарная функция шпалер
          отходит на второй план и все большее значение приобрели эстетическая и художественная значимость «тканных
          историй».</p>
      </div>
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-1.png" loading="lazy" alt="">
            </a>
            <p>Триумф Славы</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="#">
              <img src="images/main-slider-1/thumb-2.png" loading="lazy" alt="">
            </a>
            <p>Триумф Надежды</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-3.png" loading="lazy" alt="">
            </a>
            <p>Иоанн Креститель</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-4.png" loading="lazy" alt="">
            </a>
            <p>Встреча Исава и Иакова</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-5.png" loading="lazy" alt="">
            </a>
            <p>Триумф Помпея</p>
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="about.html">
              <img src="images/main-slider-1/thumb-6.png" loading="lazy" alt="">
            </a>
            <p>Дети Венеры</p>
          </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>

      <div class="promo-slider__text">
        <p>Во второй половине XV века, когда шпалеры заняли важное место в декоративном убранстве монарших дворов
          Западной Европы и церкви, основным центром шпалерного производства Европы стали Южные Нидерланды, входившие в
          состав империи Габсбургов. Специфика изготовления шпалер подразумевала возможность создания масштабных
          сюжетно-повествовательных и декоративных композиций – шпалерных серий. Шпалерные серии со сценами из
          Священного писания, античной мифологии, исторических и литературных сюжетов, начинают играть важную роль в
          зрелищной и идеологической практике западноевропейских дворов. Монументальная представительность шпалер, их
          грандиозный декоративный размах и способность сильнейшего воздействия на сознание подданных, все эти функции
          как нельзя лучше соответствовали стремлению монарших дворов, продемонстрировать свою власть и могущество.
          Шпалеры становятся символом великолепия и роскоши, свидетельствующие о богатстве, силе и величии их
          владельцев.</p>
        <p>Проект «Тканое великолепие» является продолжением проекта «Триумф Надежды» (2019) и реализуется совместными
          усилиями научных сотрудников и специалистов исследовательских лабораторий, музеев, университетов и
          реставрационных мастерских Москвы, Новосибирска и Санкт-Петербурга, а также Англии, Германии, Франции и
          Швейцарии. В проекте представлены результаты исследований и реставрации четырех фламандских шпалер XVI–XVII
          веков из собрания ГМИИ им. А.С. Пушкина. На странице проекта подробно описана иконография сюжетов и сцен,
          изображенных на шпалерах. Наиболее распространенные темы показаны на примерах разных видов искусства. Раскрыт
          образный и художественный смысл изображенных птиц и растений.</p>
        <p>Отдельные разделы посвящены истории шпалерного ткачества и красильного производства в XVI–XVII веках.
          Рассказано о семантике основных цветов, приведены описания и характеристики растений, применявшихся при
          крашении нитей и волокон.</p>
        <p>Особое внимание уделено истории моды. Как правило, одежды персонажей на шпалерах XVI–XVII веков соответствуют
          моде того времени, когда создавалось художественное произведение. На страницах данного раздела освещена
          история европейского костюма, приведены иллюстрации с выкройками и деталями одеяний, воспроизведенных в
          произведениях живописи XVI–XVII веков. </p>
        <p>Образовательный раздел представлен в виде квестов и квизов, дополняющих информацию основных разделов «Тканого
          великолепия».</p>
        <p>Некоторые страницы проекта, находятся в стадии наполнения. И по мере окончания реставрации шпалер, будут
          дополнены всей необходимой информацией.</p>
      </div>
    </div>
  </section>
</main>

{% endblock %}
