{% if pageInner %}<header class="header  header--inner">{% else %}<header class="header">{% endif %}

    <hav class="header__wrapper  main-nav">
      <div class="logo"><a class="logo__link" href="#"><img src="images/gmii-logo.svg" width="200" alt=""></a></div>
      <h1 class="header__title"><a href="index.html">Тканое великолепие</a></h1>
      <div class="header__user-block">
        <div class="lang">
          <a href="#" class="lang__link">EN</a>
        </div>
        <button class="main-nav__button" type="button" aria-expanded="false" aria-controls="main-nav__list">
          <svg class="main-nav__icon" aria-hidden="true" width="50" height="50">
            <use class="main-nav__icon-menu" href="images/sprite_auto.svg#menu"></use>
            <use class="main-nav__icon-cross" href="images/sprite_auto.svg#cross"></use>
          </svg>
        </button>
      </div>

      {% include "../partials/_main-nav.html" %}
    </hav>
  </header>
