<ul class="main-nav__list" id="main-nav__list">
  <li class="main-nav__item"><a href="index.html">На главную</a></li>
  <li class="main-nav__item"><a href="history-of-tapestries.html">История шпалерного ткачества</a></li>
  <li class="main-nav__item  main-nav__item--with-dropdown">
    <a href="#">
      &laquo;Триумф Славы&raquo;
      <svg class="main-nav__sublist-icon" aria-hidden="true" width="10" height="10">
        <use href="images/sprite_auto.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-nav__item"><a href="about.html">О шпалере</a></li>
      <li class="main-nav__sublist-nav__item"><a href="deepzoom.html">Серия шпалер «Триумфы Петрарки»</a></li>
      <li class="main-nav__sublist-nav__item"><a href="conservation.html">Исследование и реставрация </a></li>
      <li class="main-nav__sublist-nav__item"><a href="fashion.html">Одежды и мода</a></li>
      <li class="main-nav__sublist-nav__item"><a href="plants.html">Растения и птицы</a></li>
    </ul>
  </li>
  <li class="main-nav__item  main-nav__item--with-dropdown">
    <a href="#">
      &laquo;Триумф Надежды&raquo;
      <svg class="main-nav__sublist-icon" aria-hidden="true" width="10" height="10">
        <use href="images/sprite_auto.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-nav__item"><a href="#">О шпалере</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Серия шпалер «Триумф семи Добродетелей»</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Исследование и реставрация </a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">История костюма</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Растения и птицы</a></li>
    </ul>
  </li>
  <li class="main-nav__item  main-nav__item--with-dropdown">
    <a href="#">
      &laquo;Иоанн Креститель&raquo;
      <svg class="main-nav__sublist-icon" aria-hidden="true" width="10" height="10">
        <use href="images/sprite_auto.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-nav__item"><a href="#">О шпалере</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Исследование и реставрация</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Растения и птицы</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Приемы шпалерного ткачества </a></li>
    </ul>
  </li>
  <li class="main-nav__item  main-nav__item--with-dropdown">
    <a href="#">
      &laquo;Встреча Исава и Иакова&raquo;
      <svg class="main-nav__sublist-icon" aria-hidden="true" width="10" height="10">
        <use href="images/sprite_auto.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-nav__item"><a href="#">О шпалере</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Серия шпалер «История Иакова»</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Исследование и реставрация</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Растения и птицы</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">История костюма </a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Компьютерная реконструкция</a></li>
    </ul>
  </li>
  <li class="main-nav__item  main-nav__item--with-dropdown">
    <a href="#">
      &laquo;Триумф Помпея&raquo;
      <svg class="main-nav__sublist-icon" aria-hidden="true" width="10" height="10">
        <use href="images/sprite_auto.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-nav__item"><a href="#">О шпалере</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Серия шпалер «История Помпея Великого»</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Исследование и реставрация</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Растения и птицы</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">История костюма </a></li>
    </ul>
  </li>
  <li class="main-nav__item  main-nav__item--with-dropdown">
    <a href="#">
      &laquo;Дети Венеры&raquo;
      <svg class="main-nav__sublist-icon" aria-hidden="true" width="10" height="10">
        <use href="images/sprite_auto.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-nav__item"><a href="#">О шпалере</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Шпалеры «Дети Венеры»</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Исследование и реставрация</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Растения и птицы</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">История костюма</a></li>
      <li class="main-nav__sublist-nav__item"><a href="#">Тема «детей Венеры» в разных видах искусств</a></li>
    </ul>
  </li>
  <li class="main-nav__item"><a href="glossary.html">Глоссарий</a></li>
  <li class="main-nav__item"><a href="contributors.html">Над проектом работали</a></li>
  <li class="main-nav__item"><a href="#">Партнеры и участники проекта</a></li>
  <li class="main-nav__item"><a href="test.html">Квесты и квизы</a></li>
  <li class="main-nav__item"><a href="3d-example.html">Шпалеры в Москве и МО</a></li>
  <li class="main-nav__contacts">
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#" aria-label="Страница на фейсбуке">
          <svg class="main-nav__sublist-icon" aria-hidden="true" width="60" height="60">
            <use href="images/sprite_auto.svg#fb-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" aria-label="Канал на ютубе">
          <svg class="main-nav__sublist-icon" aria-hidden="true" width="60" height="60">
            <use href="images/sprite_auto.svg#yt-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p><a href="#">Назад на сайт Отдела реставрации</a></p>
  </li>
</ul>
