.pagination__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px;
}

.pagination__item {
  font-size: 25px;
  padding-right: 10px;
  position: relative;

  &::after {
    content: "/";
    margin-left: 5px;
  }

  &:last-child {
    &::after {
      content: "";
    }
  }

  a[href] {
    color: inherit;
    border-bottom: 1px dashed $m-color;
  }
}
