[class*="icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reset:before {
  content: "\e60b";
}

.icon-zoom-in:before {
  content: "\e60d";
}

.icon-logo:before {
  content: "\e600";
}

.icon-left:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/angle-left-solid.svg");
  background-repeat: no-repeat;
}

.icon-right:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/angle-right-solid.svg");
  background-repeat: no-repeat;
}

.icon-hide-hotspots:before {
  content: "\e605";
}

.icon-info:before {
  content: "\e606";
}

.icon-show-hotspots:before {
  content: "\e607";
}

.icon-zoom-out:before {
  content: "\e609";
}

.ssb-info-sidebar-control button:hover .tooltip,
.tablinks.active::after {
  opacity: 1;
}

.twentytwenty-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.content__promo {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.content__promo-item {
  min-width: 300px;
  max-width: 500px;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  transition: filter 0.5s linear;
  transition: filter 0.5s linear, -webkit-filter 0.5s linear;
}

.content__promo-item:hover {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.content__promo-text {
  position: relative;
  max-width: 400px;
  margin: 10px auto 0;
  padding: 25px 0;
  text-align: center;
}

.content__promo-text p {
  margin: 0;
  font-family: "KazimirText-BookIt", Arial, sans-serif;
}

.content__promo-text::before {
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  background-color: #aa9a67;
}

.content__promo-picture::after,
.content__promo-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
}

.content__promo-text::after {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #aa9a67;
  width: 100px;
  height: 1px;
}

.content__promo-picture {
  position: relative;
  padding-bottom: 40px;
}

.content__promo-picture img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.content__promo-picture::after {
  -webkit-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
  width: 300px;
  height: 50px;
  background-image: url(../img/shadow.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

@media (min-width: 768px) {
  .tablinks {
    width: 20%;
  }
}

@media (min-width: 1600px) {
  .content p {
    font-size: 22px;
    line-height: 1.4;
  }

  .content__title {
    margin-top: -60px;
    font-size: 30px;
  }

  .content__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 80%;
    height: 1px;
    background-color: #655b4b;
  }

  .content__text {
    display: flex;
    flex-wrap: wrap;
  }

  .content__text-column {
    width: 50%;
    padding-right: 2%;
  }

  .content p,
  .content__text-column p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .content__text-column p,
  .content__text-column ul li {
    font-size: 19px;
    line-height: 1.5;
  }

  .content__text-column--large {
    width: auto;
  }

  .content__text-column:nth-child(2n + 2) {
    padding-right: 0;
    padding-left: 2%;
  }

  .content__text-column--wide {
    width: 100%;
  }

  .tabcontent {
    display: none;
    padding: 170px 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .tabcontent__list {
    justify-content: space-around;
  }

  .tabcontent__item,
  .tablinks {
    width: 20%;
  }

  .tabcontent__item img {
    width: 100%;
    height: auto;
  }

  .tablinks::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.3s;
  }

  .twentytwenty-container {
    width: 50%;
  }

  .content__promo-item {
    max-width: 800px;
  }
}

.promo,
.ssb .ssb-info .ssb-info-container a {
  color: #aa9a67;
}

.promo--center {
  text-align: center;
}

.promo__slider-title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.promo__slider-title span {
  text-transform: uppercase;
  display: block;
}

.promo__slider-picture {
  padding: 0 60px 40px;
  position: relative;
}

.promo__slider-picture img {
  position: relative;
  z-index: 5;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.promo__slider-picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
  display: block;
  width: 300px;
  height: 50px;
  background-image: url(../img/shadow.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.promo__slider-text {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  margin-top: 25px;
  padding: 15px 0;
  text-align: center;
  font-family: "KazimirText-BookIt", Arial, sans-serif;
  position: relative;
  transition: all 0.5s;
}

.promo__slider-text::after,
.promo__slider-text::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #aa9a67;
}

.promo__slider-text::before {
  top: 0;
}

.promo__slider-text::after {
  bottom: 0;
}

.promo__slider-text p {
  font-size: 18px;
  color: #aa9a67 !important;
  word-break: break-word;
}

.promo__slider-item.slick-center .promo__slider-text {
  display: block;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  background-position: center 90px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.swiper-slide-active {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.swiper-slide-active .promo__slider-text {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@media (min-width: 768px) {
  .swiper-slide {
    background-size: cover;
    width: 450px;
  }

  .promo__slider-title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .promo__slider-text p {
    min-width: 300px;
    max-width: 425px;
    margin: 0 auto;
    font-size: 22px;
  }

  .promo__slider-for .slick-list {
    overflow: unset;
  }

  .promo__slider-for * {
    outline: 0;
  }

  .promo__slider-item {
    transition: all 0.3s;
    outline: 0;
  }

  .promo__slider-item p {
    font-family: "KazimirText-BookIt", Arial, sans-serif;
  }

  .promo__slider-text {
    margin-top: 10px;
    padding: 25px 0;
  }
}

.promo__slider-item.slick-slide {
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  position: relative;
  -webkit-transform: scale(0.7) translateY(45px);
  transform: scale(0.7) translateY(45px);
}

.promo__slider-item.slick-slide.slick-center + .slick-slide {
  z-index: 10;
}

.promo__slider-item.slick-slide.slick-center
  + .slick-slide
  + .promo__slider-item.slick-slide {
  -webkit-transform: scale(0.7) translateY(45px);
  transform: scale(0.7) translateY(45px);
  z-index: 5;
}

.promo__slider-item.slick-slide.slick-active,
.promo__slider-item.slick-slide.slick-center + .slick-slide {
  -webkit-transform: scale(0.8) translateY(5px);
  transform: scale(0.8) translateY(5px);
}

.promo__slider-item.slick-slide.slick-center {
  -webkit-transform: scale(1) translateY(-35px);
  transform: scale(1) translateY(-35px);
  z-index: 30;
}

@media (min-width: 1600px) {
  .swiper-slide {
    background-size: cover;
    width: 600px;
  }
}

.btn {
  max-width: 100%;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  overflow: hidden;
  background-color: #e9ebe8;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
  background-color: #cfd3cd;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.ssb {
  font-size: 18px;
  line-height: 26px;
  color: #666;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.ssb p,
.ssb ul,
.ssb ol {
  font-family: "Roboto", "Arial", sans-serif;
}

.ssb a {
  color: #336b6f;
}

.ssb-info-sidebar-control {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 25px;
}

.ssb-info-sidebar-control button {
  margin: 0 5px;
  position: relative;
}

.ssb-info-sidebar-control button .tooltip {
  display: block;
  width: 300px;
  position: absolute;
  font-size: 14px;
  top: -18px;
  right: 0;
  transition: all 0.5s;
  opacity: 0;
  text-align: right;
}

.ssb-info-home {
  font-size: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url(../img/home-solid.svg);
  background-repeat: no-repeat;
}

.ssb.ssb-info-expanded .ssb-info {
  right: 0;
}

.ssb .ssb-banner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.ssb .ssb-hotspot {
  border-style: solid;
  border-width: 4px;
  cursor: pointer;
  position: relative;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border: 1px solid #533634;
}

.ssb .ssb-hotspot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60%;
  height: 60%;
  background-color: #533634;
}

.ssb .ssb-hotspot[data="red"] {
  background-color: transparent;
}

.ssb .ssb-hotspot[data="blue"] {
  background-color: #00f;
}

.ssb .ssb-hotspot:hover {
  /* border-color: rgba(255, 255, 255, .7);
  border-color: #fff; */
  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  opacity: 0.8;
}

.ssb .ssb-hotspot.is-active:before,
.ssb .ssb-hotspot:hover:before {
  /* content: ' ';
  display: block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .4) */

  /* background-color: rgba(0, 0, 0, .3); */
}

.ssb .ssb-hotspot.is-active {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #000;
  animation: none;
}

.ssb .ssb-hotspot.is-active::before {
  display: none;
}

.ssb .ssb-hotspot.is-hidden {
  display: none !important;
}

.ssb .ssb-info {
  transition: all 0.3s;
  background-color: rgba(189, 187, 184, 0.95);
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: calc(-100% + 20px);
  width: 100%;
  padding-left: 20px;
}

.ssb .ssb-info .ssb-info-inner {
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: scroll;
}

.ssb .ssb-info .ssb-info-inner::-webkit-scrollbar {
  width: 10px;
}

.ssb .ssb-info .ssb-info-inner::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ssb .ssb-info .ssb-info-inner::-webkit-scrollbar-thumb {
  background: #888;
}

.ssb .ssb-info .ssb-info-container::-webkit-scrollbar-thumb:hover,
.ssb .ssb-info .ssb-info-inner::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ssb .ssb-info .ssb-info-inner.scroll {
  overflow: scroll;
  padding: 0 0 40px;
}

.ssb .ssb-info .ssb-info-container {
  display: none;
  position: relative;
  color: #333;
  height: 100%;
}

.ssb .ssb-info .ssb-info-container small {
  color: #666;
}

.ssb .ssb-info .ssb-info-container::-webkit-scrollbar {
  width: 10px;
}

.ssb .ssb-info .ssb-info-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ssb .ssb-info .ssb-info-container::-webkit-scrollbar-thumb {
  background: #888;
}

.ssb .ssb-info .ssb-info-container .ssb-info-description {
  margin: 15px;
  padding-bottom: 15px;
}

.ssb .ssb-info .ssb-info-container .ssb-info-img-container {
  background: url(../img/ajax-loader.gif) no-repeat center;
  width: 320px;
  max-width: 100%;
}

.ssb .ssb-info .ssb-info-container .ssb-info-img {
  display: block;
  width: 100%;
}

.ssb .ssb-info .ssb-info-toggle-button {
  position: absolute;
  padding: 0.2em;
  top: 50%;
  margin-top: -15px;
  z-index: 5;
  text-align: center;
  color: red;
  left: 0;
  background-color: #b3b2ae;
  border-radius: 5px;
}

@media (min-width: 1600px) {
  .ssb .ssb-info .ssb-info-toggle-button {
    left: -15px;
  }
}

.ssb .ssb-controls {
  display: flex;
  position: absolute;
  color: #fff;
  left: -200px;
  z-index: 2;
  bottom: 16px;
  transition: all 0.2s;
  cursor: pointer;
}

.ssb .ssb-controls.is-expanded {
  left: 0;
}

.ssb .ssb-controls .ssb-controls-buttons {
  display: flex;
  width: 200px;
  padding: 12px 10px 12px 14px;
  background-color: #b3b2ae;
}

.ssb .ssb-controls .ssb-controls-button {
  width: 25px;
  height: 36px;
  text-align: center;
  margin-right: 10px;
  font-size: 26px;
  line-height: 36px;
  color: #000;
}

.ssb .ssb-controls .ssb-controls-button:last-child {
  margin-right: 0;
}

.ssb .ssb-controls .ssb-controls-button:active,
.ssb .ssb-controls .ssb-controls-button:hover {
  color: #336b6f;
}

.ssb .ssb-controls .ssb-controls-button-large {
  width: 42px;
  /* font-size: 30px; */
  color: #000;
}

.ssb .ssb-controls .ssb-controls-button-large:active,
.ssb .ssb-controls .ssb-controls-button-large:hover {
  color: #336b6f;
}

.ssb .ssb-controls .ssb-controls-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  font-size: 11px;
  height: 60px;
  line-height: 60px;
  border-radius: 0 10px 10px 0;
  color: #000;
  background-color: #b3b2ae;
}

.ssb .ssb-controls .ssb-controls-toggle::before {
  color: #336b6f;
}

.ssb .ssb-welcome {
  padding: 15px;
  text-align: center;
  color: #666;
}

.ssb .ssb-welcome .ssb-welcome-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 18px;
  font-size: 21px;
  font-weight: 400;
  font-family: "Merriweather", "Times New Roman", serif;
  color: #336b6f;
  text-align: center;
}

.ssb .ssb-welcome .ssb-welcome-intro {
  text-align: left;
  margin: 0 0 17px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
}

.ssb .ssb-welcome .ssb-start,
.ssb .ssb-welcome .ssb-teachers-resources,
.ssb .ssb-welcome .ssb-touch-to-begin {
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px 0;
}

.ssb .ssb-welcome .ssb-start a,
.ssb .ssb-welcome .ssb-teachers-resources a,
.ssb .ssb-welcome .ssb-touch-to-begin a {
  color: #666;
  text-decoration: none;
}

.ssb .ssb-welcome .ssb-touch-to-begin {
  background: #b5b5b5;
  border: 1px solid gray;
  color: #666;
  padding: 3px 0;
}

.ssb .ssb-welcome .ssb-start {
  cursor: pointer;
}

.ssb-info-title {
  margin-bottom: 5px;
}

.ssb-info-main-title {
  margin-bottom: 0;
}

@media (min-width: 650px) {
  .ssb .ssb-welcome .ssb-start {
    border: 1px solid #232328;
    border-width: 1px 0;
  }

  .ssb .ssb-welcome .ssb-teachers-resources {
    border-bottom: 1px solid #232328;
  }
}

.ssb .ssb-welcome .ssb-logo {
  padding-top: 10px;
  font-size: 110px;
}

.ssb .ssb-welcome .ssb-logo a {
  color: #fff;
  text-decoration: none;
}

.ssb-welcome li {
  font-size: 18px;
}

.ssb-welcome ol {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  text-align: left;
}

@media (min-width: 768px) {
  .ssb .ssb-info {
    display: block;
    width: 50%;
    left: auto;
    right: calc(-100% + 25px);
    box-shadow: -4px 0 7px -3px #333;
  }

  .ssb .ssb-info .ssb-welcome-title {
    font-size: 38px;
    line-height: 45px;
  }

  .ssb .ssb-info .ssb-info-container {
    padding: 5px 20px 0 40px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-img {
    margin: 0;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-img-container {
    border: 1px solid #b6b8ba;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-description {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-description h3 {
    margin-bottom: 0;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-description p {
    margin-top: 0;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-description small {
    display: block;
    border-top: 1px solid #b6b8ba;
  }

  .ssb .ssb-info .ssb-info-container .ssb-info-close {
    display: none;
  }

  .ssb .ssb-info .ssb-welcome {
    padding: 25px;
  }

  .ssb .ssb-info .ssb-welcome .ssb-welcome-intro {
    margin: 0 0 28px;
  }

  .ssb .ssb-info .ssb-welcome .ssb-welcome-intro i {
    font-style: italic;
  }

  .ssb .ssb-info .ssb-welcome .ssb-touch-to-begin {
    display: none;
  }

  .ssb .ssb-info .ssb-welcome .ssb-start,
  .ssb .ssb-info .ssb-welcome .ssb-teachers-resources,
  .ssb .ssb-info .ssb-welcome .ssb-touch-to-begin {
    padding: 10px 0;
    margin: 0;
  }

  .ssb .ssb-info .ssb-info-toggle-button {
    display: block;
    cursor: pointer;
  }

  .ssb .ssb-hotspot {
    border-width: 2px;
  }

  .ssb.ssb-info-expanded .ssb-banner {
    /* right: 30% */
  }
}

[class*="icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reset:before {
  content: "\e60b";
}

.icon-zoom-in:before {
  content: "\e60d";
}

.icon-logo:before {
  content: "\e600";
}

.icon-left:before,
.icon-right:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/angle-left-solid.svg);
  background-repeat: no-repeat;
}

.icon-right:before {
  background-image: url(../img/angle-right-solid.svg);
}

.icon-hide-hotspots:before {
  content: "\e605";
}

.icon-info:before {
  content: "\e606";
}

.icon-show-hotspots:before {
  content: "\e607";
}

.icon-zoom-out:before {
  content: "\e609";
}

.popup__picture {
  width: 80%;
  margin: auto;
}

.popup__description {
  display: none;
}

@media (min-width: 768px) {
  .popup {
    display: flex;
    align-items: center;
  }

  .popup__picture {
    width: 50%;
  }

  .popup__description {
    display: block;
    width: 25%;
    padding: 0 2%;
    font-size: 20px;
  }

  .popup___picture-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1600px) {
  .popup__description {
    font-size: 30px;
  }
}

.mute-audio {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../img/volume-up-solid.svg);
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.unmute-audio {
  background-image: url(../img/volume-mute-solid.svg);
}

.zoom-out-text,
.zoom-text {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../img/text.svg);
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.zoom-out-text {
  width: 25px;
  height: 25px;
  background-image: url(../img/text-size.svg);
}

.ssb .ssb-info-lang {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  margin-right: 10px;
  font-family: "Roboto", "Arial", sans-serif;
}
